/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* fonts.css */
@font-face {
  font-family: 'CustomCursiveFont'; /* Define the custom font family name */
  src: url('../public/Arizonia-Regular.ttf') format('truetype'); /* Adjust the URL to the cursive font file based on its format and location */
  /* Add more src lines for other font formats if needed (e.g., woff, woff2) */
}

